<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
    <h2>Create a Basketball Team!</h2>
    <form action="/team" method="post">
         <label for="name">Team Name:</label>
         <input type="text", name="name", id="name"><br>
         
         <label for="coach">Coach:</label>
         <input type="text", name="coach", id="coach"><br>
         
         <label for="pg">Point Guard:</label>
         <input type="text", name="point guard", id="point guard"><br>
         
         <label for="shooting guard">Shooting Guard:</label>
         <input type="text", name="shooting guard", id="shooting guard"><br>
         
         <label for="small forward">Small Forward:</label>
         <input type="text", name="small forward", id="small forward"><br>
         
         <label for="power forward">Power Forward:</label>
         <input type="text", name="power forward", id="power forward"><br>
         
         <label for="center">Center:</label>
         <input type="text", name="center", id="center"><br>
         
         <input type="submit", value="Submit", id="Submit">
      </form>
          
 </head>
 <body>
 </body>
</html>


